

<div id="navbar">
	<div id="navbarcontent">

		<div id="identity">
			<!-- identité -->
			<div class="navcontent">
				<img src="assets/img/infini.png" />
				<h1>INFIN</h1>
			</div>
		</div>
		<div id="user">
			<!-- photo -->


		</div>
		<div id="user">
			<div class="usercontent">
				<!-- name -->
				<!-- photo round -->
			</div>
		</div>
		<div>
			<ul class="navigation">
				<li>
					<a [routerLink]="['/profil']" >
						<i class="fa fa-user-circle" aria-hidden="true"></i>
						<span>Profil</span>
					</a>
				</li>
				<li>
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					<span>Logout</span>
				</li>
			</ul>
		</div>

	</div>
	
</div>