
<section>

  


  <!-- <input [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker> -->


  <!-- <div class="post-it" *ngFor="let note of filter(); let i = index" [attr.id]="'note'+i" (click)="selected_note=note" > -->
  <div class="post-it" *ngFor="let note of notes | filter:search; let i = index" [attr.id]="'note'+i" (click)="selected_note=note" >
    <!-- faire correspondre la note de la boucle dans la note de app-note -->
    <app-note [color]="color" [note]="note" [index]="i" (event)="deleteNote($event)" ></app-note>

  </div>


  <div id="add" (click)="this.displayForm = !this.displayForm;" >+</div>

</section>


<!-- addAddNote(titre contenu) -->
<div id="form" [class.display]="displayForm" >
  <input type="text"  #inputTitle /> <br /> 
  <input type="text" #inputContent /> <br />
  <button (click)="addAddNote( inputTitle.value , inputContent.value )" >Ajouter</button>
</div>

<!-- editNote(titre contenu) -->
<div id="edit" *ngIf="selected_note" >
  <input type="text"  [(ngModel)]="selected_note.title" /> <br /> 
  <input type="text" [(ngModel)]="selected_note.content" /> <br />
</div>

<div id="search">
  <input type="text" placeholder="search" [(ngModel)]="search" />
  <!-- <input type="text" placeholder="search" [(ngModel)]="search" (keydown)="filter( )" /> --> <!-- avec la fonction filter -->
</div>

<div id="color">
  <input type="range" min="0" max="250" [(ngModel)]="color.red" /><label>red</label><br />
  <input type="range" min="0" max="250" [(ngModel)]="color.green" /><label>green</label><br />
  <input type="range" min="0" max="250" [(ngModel)]="color.blue" /><label>blue</label>

</div>

<!-- 
<div class="form" *ngIf="displayForm">
  <input type="text" [(ngModel)]="newNote.title" /> <br /> -> utile pour lier dans les deux sens en cas de près-vue
  <input type="text" [(ngModel)]="newNote.content" /> <br />
  <button (click)="addNote()" >Ajouter</button>
</div>
 -->