

<div class="container">
	<div class="title">
		<div class="user">
			{{post.array["user"]}}
		</div>
		<!-- userpost -->
		<div class="date">
			{{post.publication | date:"dd-MM-yy"}}
		</div>
	</div>
	<div class="content">
		<div class="content-text">
			{{post.texte}}
		</div>
		<div class="content-link">

		</div>
	</div>
	<div class="interaction">
		<div class="like">
			
			<div class="like-choise" >
				<i class="fa fa-thumbs-o-up gray" [class.active]="postUserLike" aria-hidden="true" (click)="like()" ></i>
				<!-- <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				<i class="fa fa-smile-o" aria-hidden="true"></i>
				<i class="fa fa-heart" aria-hidden="true"></i> -->
			</div>
			<div class="likenumber"  *ngIf="post.getArray().like" >
				<div class="round"><span > {{likeNumber}} </span><i class="fa fa-thumbs-o-up mini" aria-hidden="true"></i> </div>
			</div>
			<!--
			<div class="likepossibility">
				<div>
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				</div>
					<div>
					<i class="fa fa-smile-o" aria-hidden="true"></i>
				</div>
				<div>
					<i class="fa fa-heart" aria-hidden="true"></i>
				</div>
			</div> -->
			
		</div>
		<div class="comments" *ngIf="post.array['comment']">
			<a [routerLink]="['/post/' + this.post.getId()]" *ngIf="page" >
				<span class="commentsnumber">{{post.array['comment']}}</span>
				<span>Commentaires</span>
			</a>
		</div>

		
	</div>
	<div class="yourComment" *ngIf="!post.array['comment'] " >
		<!-- usercomment -->
		<input type="text" [(ngModel)]="comment" (keypress)='addComment($event)'>
	</div>
</div>