<div class="body">
	<app-nav></app-nav>
	<main>
		<div class="container">
			<div class="content" title="Nom">
				<div class="title">{{user.getNom()}}</div>
			</div>
			<div class="content" title="Prénom">
				<div class="title">{{user.getPrenom()}}</div>
			</div>
			<div class="content" (click)="this.displayForm( 'Pseudo' )" title="Pseudo">
				<div class="title">{{user.getPseudo()}}</div>
				<div class="form" [class.active]="displayFormPseudo">
					<input type="text" [(ngModel)]="pseudo" placeholder="pseudo">
				</div>
			</div>
			<div class="content" (click)="this.displayForm( 'Email' )" title="Email">
				<div class="title">{{user.getEmail()}}</div>
				<div class="form" [class.active]="displayFormEmail">
					<input type="email" [(ngModel)]="email" placeholder="email">
				</div>
			</div>
			<div class="content" (click)="displayForm( 'Pass' )" title="Mot de passe">
				<div class="title">
					<i class="fa fa-asterisk" aria-hidden="true"></i>
					<i class="fa fa-asterisk" aria-hidden="true"></i>
					<i class="fa fa-asterisk" aria-hidden="true"></i>
					<i class="fa fa-asterisk" aria-hidden="true"></i>
					<i class="fa fa-asterisk" aria-hidden="true"></i>
					<i class="fa fa-asterisk" aria-hidden="true"></i>
				</div>
				<div class="form" [class.active]="displayFormPass" >
					<input type="password" [(ngModel)]="pass1" placeholder="mot de passe actuel">
					<input type="password" [(ngModel)]="pass2" placeholder="nouveau mot de passe">
					<input type="password" [(ngModel)]="pass3" placeholder="nouveau mot de passe">
				</div>
			</div>
			<div class="validate" *ngIf="contents">

			</div>
			
		</div>
	</main>
</div>